 @import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  transition: all 0.2s ease;
}

.user_avatar img {
  border-radius: 50%;
}
.avatar_box{
    display:flex;
    justify-content:center;
    align-items:center;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment_block {
  /*width: 65%;*/
  height: 100%;
  margin: 0 auto;
  padding: 10px;
}
.comment_block .create_new_comment {
  width: 100%;
  padding: 20px 0;
}
.comment_block .create_new_comment .input_comment {
  margin-top:5px;
/*  padding-right: 10px;*/
  padding-left:-10px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 100%;
  /*width: calc(100% - 60px);*/
}
.comment_block .create_new_comment .input_comment input[type="text"] {
  width: 100%;
  /*font-family: "Lato", sans-serif;*/
  font-weight: 300;
  font-size: 1.3rem;
  padding: 10px;
  /*border: none;*/
  /*border-bottom: 2px solid #f2f2f2;*/
}
.comment_block .create_new_comment .input_comment input[type="text"]:focus {
  outline: none;
  /*border-bottom: 2px solid #e6e6e6;*/
}
.comment_block .new_comment {
  width: 100%;
  height: auto;
  padding: 20px 0;
  /*border-top: 1px solid #f9d074;*/
}
.comment_block .new_comment .user_comment {
  list-style-type: none;
}

.flex-row-reverse .comment_body{
    float:right;
}

.comment_block .new_comment .comment_body, .message_body {
  display: inline-block;
  /*width:100%;*/
  margin-top: 25px;
  vertical-align: middle;
  min-height: 65px;
  /*margin-left: 10px;*/
  padding: 5px 10px;
  font-size: .9rem;
  color: #555;
  border: 1px solid orange;
  border-radius: 10px;
/*  background-color: #FFF;*/
/*  border-bottom: 2px solid #f2f2f2;*/
}
.comment_block .new_comment .comment_body .replied_to {
  margin: 5px 0px;
  background-color: #fafafa;
  border-bottom: 2px solid #f2f2f2;
  border-radius: 5px;
}
.comment_block .new_comment .comment_body .replied_to p {
  padding: 5px;
}
.comment_block .new_comment .comment_body .replied_to span {
  color: #6495ED;
  margin-right: 2px;
}


.comment_toolbar ul {
  list-style-type: none;
  padding-left: 10px;
  font-size: 0;
}

.comment_toolbar ul li {
  display: inline-block;
  padding: 5px;
  font-size: .8rem;
  color: orange;
}
.comment_details{
    display: inline-block;
    float: left
}
.datetime_icons{
    display: inline-block;
    float: right
}
.comment_details ul li:hover {
  cursor: pointer;
}


.comment_details ul li{
  display: inline;
}

 .comment_details li:hover {
  color: #ffa50057;
}

.comment_block .new_comment .user:hover {
  color: #6495ED;
  text-decoration: underline;
}

.comment_block .new_comment .love:hover {
  color: #FF6347;
}

.message_body {
    /*display: block;*/
    background-color: #ffffffde;
}

.message_list li {
    padding: 10px;
}

.reverse_msg {
    flex-direction: row-reverse;
}

div.reverse_msg .message{
    text-align: right;
}

div.reverse_msg .message .message_body{
    text-align:left;
}

div.message .message_body p{
    word-break: break-all;
}

.message_block {
    background-color: #ffffffde;
    border-top: none;
}

.message_list{
    overflow: hidden;
    height: 500px;
}

li.no-message {
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}

.message-container {
    height: 150px;
}