<div class="container modal" id="crop-modal">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body container-fluid text-center">
                    <div class="img-container" id="crop-box">
                        <img alt="Azərbaycanda heyvansevərlər üçün ilk və tək sosial şəbəkə" src="" id="crop-img" style="max-width: 100%;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

